@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .nav-bar-element {
    @apply relative flex items-center justify-center h-12 w-12  my-auto mx-6 bg-purple-500 text-white
    hover:bg-white hover:text-purple-500 rounded-3xl hover:rounded-xl transition-all duration-300 
    ease-linear cursor-pointer;
  }
  .nav-bar-tooltip {
    @apply absolute min-w-max m-2 p-2 rounded-md shadow-md bg-gray-700 text-xs font-bold transition-all
    duration-100 scale-0 origin-bottom top-12  text-white z-10;
  }
}
